body {
  /*background-color: limegreen;*/
}

.nav {
  float: left;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  height: 30vmin;
  width: 30vmin;
  margin: 1em;
  background-color: rebeccapurple;
}

@media screen (max-width: 597px) {
  body {
    background-color: dodgerblue;
  }

  .nav {
    float: none;
  }
  .nav li {
    display: inline-block;
    margin-right: 2em;
    color: white;
  }
  .nav li::after {
    content: "  |  ";
  }
}
